<!DOCTYPE HTML>
<html lang="kr">
<head>
    <link rel="stylesheet" type="text/css" href="/css/etc/board.css">
    <%- include('../common/head') %>
    <title>글쓰기 - BSM</title>
    <meta property="title" content="글쓰기 - BSM | 부산소마고 지원 서비스">
    <meta property="og:title" content="글쓰기 - BSM | 부산소마고 지원 서비스">
    <link rel="stylesheet" href="/css/summernote-lite.min.css">
    <script src="/js/summernote-lite.min.js"></script>
    <script src="/js/lang/summernote-ko-KR.js"></script>
    <style>body{background-image:none;}.title{padding:5rem 0 0 0;}</style>
</head>
<body>
    <script>
        let refresh = false
    </script>
    <main>
        <div class="title">
            <h1>글쓰기</h1>
            <% switch(boardType){
                case 'board': %>
                <h2>자유게시판</h2>
                <% break
            case 'anonymous': %>
                <h2>익명게시판</h2>
                <% break
            } %>
            <br>
        </div>
        <div class="container">
            <script>
            $(document).ready(function() {
                $('#summernote').summernote({
                height : 480,
                maxHeight : null,
                minHeight : 480,
                lang : 'ko-KR',
                callbacks: {
                    onImageUpload:function(files, editor, welEditable){
                        for(var i = files.length - 1;i>=0;i--){
                            sendFile(files[i], this);
                        }
                    }
                },
                disableResizeEditor: true,
                toolbar: [
                    ['fontname', ['fontname']],
                    ['fontsize', ['fontsize']],
                    ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
                    ['color', ['forecolor','color']],
                    ['table', ['table']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['insert',['picture','link','video']],
                    ['view', ['fullscreen', 'codeview', 'help']]
                    ],
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
                fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']
                });
            });
            function sendFile(file, el, welEditable){
                var form_data = new FormData();
                form_data.append('file', file);
                $.ajax({
                    type:"POST",
                    url:apiUrl+'/imageUpload',
                    data:form_data,
                    enctype:'multipart/form-data',
                    cache:false,
                    contentType:false,
                    processData:false,
                    success:function(data){
                    data=JSON.parse(data);
                        if(data.status!=1){
                            error_code(data.status, data.subStatus);
                        }else{
                            $(el).summernote('editor.insertImage', $.trim(data.filePath));
                        }
                    },
                    error: function(data) {
                        error_code(0, 0);
                    }
                });
            }
            </script>
            <form class="post_write" method="post" autocomplete="off" onsubmit="post_write();return false;">
                <% if(postNo!=null){ %>
                    <script>
                    function post_refresh(){
                        $.ajax({
                        type:'GET',
                        url:apiUrl+'/post/<%= boardType %>/<%= postNo %>',
                        cache:false,
                        success:function(data){
                            data=JSON.parse(data);
                            if(data.status!=1){
                                error_code(data.status, data.subStatus);
                            }else{
                            $('input[name=post_title]').val(data.postTitle);
                            $('#summernote').summernote('code', data.postContent);
                            }
                        },
                        error: function(data) {
                            error_code(0, 0);
                        }
                        });
                    }
                    post_refresh();
                    </script>
                <% } %>
                <input type="text" name="post_title" placeholder="제목" class="input_text" style="width:100%;" required autofocus>
                <textarea name="post_content" placeholder="내용" id="summernote" class="input_text" style="width:100%;" required></textarea>
                <br><br>
                <a href="/board/<%= boardType %>" class="button"><% switch(boardType){ case 'board': %>자유게시판<% break; case 'anonymous': %>익명게시판<% break; } %></a>
                <input type="submit" value="글작성" class="button">
            </form>
            <% if(postNo==null){ %>
                <script>
                    postWriteType='POST'
                </script>
            <% }else{ %>
                <script>
                    postWriteType='PATCH'
                </script>
            <% } %>
            <script>
                function post_write(){
                    $.ajax({
                        type:postWriteType,
                        data:{
                            postTitle:$('input[name=post_title]').val(),
                            postContent:$('textarea[name=post_content]').val(),
                        },
                        url:apiUrl+'/post/<%= boardType %><% if(postNo!=null) %>/<%= postNo %>',
                        cache:false,
                        success:function(data){
                            data=JSON.parse(data);
                            if(data.status!=1){
                                error_code(data.status, data.subStatus);
                            }else{
                                window.close();
                            }
                        },
                        error: function(data) {
                            error_code(0, 0);
                        }
                    });
                }
            </script>
            <br>
        </div>
    </main>
    <%- include('../common/loginBox') %>
</body>
</html>