<!DOCTYPE HTML>
<html lang="kr">
<head>
    <link rel="stylesheet" type="text/css" href="/css/etc/board.css">
    <%- include('../common/head') %>
    <% switch(boardType){
        case 'board': %>
        <title>자유게시판 - BSM</title> %>
        <meta property="title" content="자유게시판 - BSM | 부산소마고 지원 서비스">
        <meta property="og:title" content="자유게시판 - BSM | 부산소마고 지원 서비스">
        <% break;
    case 'anonymous': %>
        <title>익명게시판 - BSM</title> %>
        <meta property="title" content="익명게시판 - BSM | 부산소마고 지원 서비스">
        <meta property="og:title" content="익명게시판 - BSM | 부산소마고 지원 서비스">
        <% break;
    } %>
</head>
<body>
    <%- include('../common/header') %>
    <main>
        <div class="title board_title">
            <div class="container">
            <% switch(boardType){
                case 'board': %>
                <h1>자유게시판</h1>
                <a href="/board/anonymous">익명게시판</a>
                <% break;
            case 'anonymous': %>
                <h1>익명게시판</h1>
                <a href="/board/board">자유게시판</a>
                <% break;
            } %>
                <br>
            </div>
        </div>
        <div class="container">
            <div class="board">
            <% if(postNo!=null){ %>
                <div class="post">
                    <script>
                        function post_refresh(){
                            $.ajax({
                                type:'GET',
                                url:apiUrl+'/post/<%= boardType %>/<%= postNo %>',
                                cache:false,
                                success:function(data){
                                    data=JSON.parse(data);
                                    if(data.status!=1){
                                        error_code(data.status, data.subStatus);
                                    }else{
                                        $('.post .left_wrap').html(`<img src="/resource/member/profile_images/profile_`+data.memberCode+`.png" onerror="this.src='/resource/member/profile_images/profile_default.png'" alt="" class="user_profile">`);
                                        $('.post_title').text(data.postTitle);
                                        $('.post_date').text(data.postDate);
                                        $('.post_hit').text(data.postHit);
                                        $('.post_comments').text(data.postComments);
                                        $('.member_nickname').html('<a href="/memberinfo/'+data.memberCode+'">'+data.memberNickname+'</a>');
                                        $('.post_content div').html(data.postContent);
                                        if(data.like>0){
                                            $('.like_button').addClass('on');
                                            $('.dislike_button').removeClass('on');
                                        }else if(data.like<0){
                                            $('.like_button').removeClass('on');
                                            $('.dislike_button').addClass('on');
                                        }else{
                                            $('.like_button').removeClass('on');
                                            $('.dislike_button').removeClass('on');
                                        }
                                        $('.post_like').text(data.postLike);
                                        $('.note-video-clip').each(function(){
                                            let tmp = $(this).wrap('<p/>').parent().html();
                                            $(this).parent().html('<div class="video-container">'+tmp+'</div>');
                                        });
                                        post_menu(data.memberCode);
                                        comment_refresh();
                                    }
                                },
                                error: function(data) {
                                    error_code(0, 0);
                                }
                            });
                        }
                        post_refresh();
                        function post_delete(){
                            $.ajax({
                                type:'DELETE',
                                url:apiUrl+'/post/<%= boardType %>/<%= postNo %>',
                                cache:false,
                                success:function(data){
                                    data=JSON.parse(data);
                                    if(data.status!=1){
                                        error_code(data.status, data.subStatus);
                                        refresh = false;
                                    }else{
                                        window.location.href="/board/<%= boardType %>";
                                    }
                                },
                                error: function(data) {
                                    error_code(0, 0);
                                }
                            });
                        }
                    </script>
                    <div class="post_info_wrap">
                        <div class="left_wrap"></div>
                        <div class="right_wrap">
                            <div class="post_title"></div>
                            <div class="post_date"><p></p></div>
                            <div class="post_hit"><p></p></div>
                            <div class="post_comments"><p></p></div>
                            <div class="member_nickname"></div>
                            </div>
                        </div>
                    <div class="post_content"><div></div></div>
                </div>
                <div class="post_like_wrap">
                    <button class="button like_button" onclick="like_send(1);">좋아요</button>
                    <span class="post_like"></span>
                    <button class="button dislike_button" onclick="like_send(-1);">싫어요</button>
                </div>
                <script>
                    let like;
                    function like_send(like){
                        $.ajax({
                            type:'POST',
                            data:{
                                like:like,
                            },
                            url:apiUrl+'/like/<%= boardType %>/<%= postNo %>',
                            cache:false,
                            success:function(data){
                                data=JSON.parse(data);
                                if(data.status!=1){
                                    error_code(data.status, data.subStatus);
                                    refresh = false;
                                }else{
                                    if(data.like>0){
                                        $('.like_button').addClass('on');
                                        $('.dislike_button').removeClass('on');
                                    }else if(data.like<0){
                                        $('.like_button').removeClass('on');
                                        $('.dislike_button').addClass('on');
                                    }else{
                                        $('.like_button').removeClass('on');
                                        $('.dislike_button').removeClass('on');
                                    }
                                    $('.post_like').text(data.postLike);
                                }
                            },
                            error: function(data) {
                                error_code(0, 0);
                            } 
                        });
                    }
                </script>
                <div class="comment_list">
                    <script>
                        function comment_refresh(){
                            $.ajax({
                                type:'GET',
                                url:apiUrl+'/comment/<%= boardType %>/<%= postNo %>',
                                cache:false,
                                success:function(data){
                                    data=JSON.parse(data);
                                    if(data.status!=1){
                                        error_code(data.status, data.subStatus);
                                    }else{
                                        data=data.arrComment;
                                        comments = "";
                                        for(let i=0;i<Object.keys(data).length;i++){
                                            let comment = "";
                                            comment += '<div class="comment_item_wrap">';
                                                comment += '<div class="comment_item_info_wrap">';
                                                    comment += '<div class="left_wrap">';
                                                        comment += `<img src="/resource/member/profile_images/profile_`+data[i].memberCode+`.png" onerror="this.src='/resource/member/profile_images/profile_default.png'" alt="" class="user_profile">`;
                                                    comment += '</div>';
                                                    comment += '<div class="right_wrap">';
                                                        comment += '<div class="comment_item_info"><a href="/memberinfo/' +data[i].memberCode+ '">'+memberLevel[data[i].memberLevel]+data[i].memberNickname+'</a></div>';
                                                        comment += '<div class="comment_item_info">'+data[i].commentDate+'</div>';
                                                    comment += '</div>';
                                                comment += '</div>';
                                                comment += '<div class="comment_item_content">'+data[i].comment+'</div>';
                                            comment += '</div>';
                                            if(data[i].memberCode==member.code||member.level==3){
                                                comment += `<div class="comment_menu"><button class="button red_button" onclick="comment_delete(`+data[i].idx+`);">댓글 삭제</button></div>`;
                                            }
                                            comments += `<div class="comment_item" onclick="$('.comment_item:not(:nth-child(`+(i+1)+`)) .comment_menu').removeClass('on');$('.comment_item:nth-child(`+(i+1)+`) .comment_menu').toggleClass('on');">`+comment+`</div>`;
                                        }
                                        $('.comment_list .comment').html(comments);
                                    }
                                },
                                error: function(data) {
                                    error_code(0, 0);
                                }
                            });
                        }
                        function comment_delete(commentIndex){
                            $.ajax({
                                type:'DELETE',
                                data:{
                                    commentIndex:commentIndex,
                                },
                                url:apiUrl+'/comment/<%= boardType %>/<%= postNo %>',
                                cache:false,
                                success:function(data){
                                    data=JSON.parse(data);
                                    if(data.status!=1){
                                        error_code(data.status, data.subStatus);
                                        refresh = false;
                                    }else{
                                        comment_refresh();
                                    }
                                },
                                error: function(data) {
                                    error_code(0, 0);
                                }
                            });
                        }
                        function comment_write(){
                            $.ajax({
                                type:'POST',
                                data:{
                                    comment:$('.post_comment').val(),
                                },
                                url:apiUrl+'/comment/<%= boardType %>/<%= postNo %>',
                                cache:false,
                                success:function(data){
                                    data=JSON.parse(data);
                                    if(data.status!=1){
                                        error_code(data.status, data.subStatus);
                                        refresh = false;
                                    }else{
                                        $('.post_comment').val("");
                                        comment_refresh();
                                    }
                                },
                                error: function(data) {
                                    error_code(0, 0);
                                }
                            });
                        }
                    </script>
                    <div class="comment"></div>
                </div>
                <form class="comment_write" method="post" autocomplete="off" onsubmit="comment_write();return false;">
                    <textarea placeholder="댓글" class="post_comment" style="width:100%;height:10rem;" required></textarea>
                    <br><br>
                    <div class="button" onclick="comment_refresh();">댓글 새로고침</div>
                    <input type="submit" name="" value="댓글작성" class="button">
                </form>
                <div class="post_menu">
                    <span class="post_delete"></span>
                    <span class="post_modify"></span>
                </div>
                <script>
                    function post_menu(member_code){
                        if(member_code==member.code||member.level==3){
                            $('.post_delete').html(`<div class="button red_button" onclick="post_delete();">글 삭제</div>`);
                            $('.post_modify').html('<a class="button blue_button" href="/board/write/<%= boardType %>/<%= postNo %>">게시글 수정</a>');
                        }
                    }
                </script>
            <% } %>
                <div class=board_list>
                    <div class="board_type">
                    </div>
                    <div class="table_main"></div>
                    <script>
                        function board_refresh(){
                            $.ajax({
                                type:'GET',
                                url:apiUrl+'/board/<%= boardType %><% if(page!=null) %>?page=<%= page %>',
                                cache:false,
                                success:function(data){
                                    data=JSON.parse(data);
                                    if(data.status!=1){
                                        error_code(data.status, data.subStatus);
                                    }else{
                                        let date = new Date()
                                        let today = ""+date.getFullYear()
                                        if((date.getMonth()+1)<10){
                                            today+='0'
                                        }
                                        today+=(date.getMonth()+1)
                                        if(date.getDate()<10){
                                            today+='0'
                                        }
                                        today+=date.getDate()
                                        boardData=data.arrBoard;
                                        boards = "";
                                        for(let i=0;i<Object.keys(boardData).length;i++){
                                            let board = "";
                                            board += '<div class="board_item left_wrap">'
                                                if(boardData[i].postComments>=1){
                                                    board += '<span class="post_comments active">'+boardData[i].postComments+ '</span>'
                                                }else{
                                                    board += '<span class="post_comments">'+boardData[i].postComments+ '</span>'
                                                }
                                            board += '</div>'
                                            board += '<div class="board_item right_wrap">'
                                                board += '<div class="board_item top_wrap">'
                                                    board += '<a href="/board/' +boardData[i].boardType+ '/' +boardData[i].postNo+ '<% if(page!=null){ %>?page=<%= page %><%}%>"class="post_title">' +boardData[i].postTitle+'</a>';
                                                board += '</div>'
                                                board += '<div class="board_item bottom_wrap">'
                                                    board += '<div class="board_item_info left_wrap">'
                                                        board += `<span class="member_info"><img src="/resource/member/profile_images/profile_`+boardData[i].memberCode+`.png" onerror="this.src='/resource/member/profile_images/profile_default.png'" alt="" class="user_profile"><a href="/memberinfo/`+boardData[i].memberCode+`">`+memberLevel[boardData[i].memberLevel]+boardData[i].memberNickname+`</a></span>`;
                                                    board += '</div>'
                                                    board += '<div class="board_item_info right_wrap">'
                                                    if(boardData[i].postLike>=1){
                                                        board += '<span class="board_item_post_info like active">'+boardData[i].postLike+'</span>';
                                                    }else if(boardData[i].postLike<0){
                                                        board += '<span class="board_item_post_info like">'+boardData[i].postLike+'</span>';
                                                    }
                                                    board += '<span class="board_item_post_info hit">'+boardData[i].postHit+'</span>';
                                                    if(boardData[i].postDate.split(' ')[0].replaceAll("-","")==today)
                                                        board += '<span class="board_item_post_info date">'+boardData[i].postDate.split(' ')[1]+'</span>';
                                                    else
                                                        board += '<span class="board_item_post_info date">'+boardData[i].postDate.split(' ')[0]+'</span>';
                                                    board += '</div>'
                                                board += '</div>'
                                            board += '</div>'
                                            boards += '<span class="board_item_wrap">'+board+'</span>';
                                        }
                                        $('.board_list .table_main').html(boards);
                                        //$('.page_num').html(data.pageNum);
                                    }
                                },
                                error: function(data) {
                                    error_code(0, 0);
                                }
                            });
                        }
                        board_refresh();
                    </script>
                </div>
                <div class="board_bottom_menu">
                    <div class="board_menu_item board_refresh_button">
                        <button onClick="board_refresh();" class="button">글 새로고침</button>
                    </div>
                    <div class="board_menu_item page_num"></div>
                    <div class="board_menu_item post_write_button">
                        <% if(member.isLogin){ %>
                            <a href="/board/write/<%= boardType %>" class="button blue_button">글쓰기</a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('../common/loginBox') %>
</body>
</html>